/* body typography */
body {font-size: 18px; font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* target header and footer */
header,footer {background-color: #cac5ce;}

/* Title Color */
.site-title {color: darkorchid;}

/* Image Box Shadow */
#my-image {box-shadow: 0px,0px,2px,1px,black;}

/* Changing Bullets */
ul.b {list-style-type: square;}

/* nth child color */
ul.b :nth-child(odd) {background: #fa3556;}

/* Remove Bullets */
ul.a {list-style-type: none;}

/* Remove underline */
a:link {text-decoration: none;}
