/* header format */
header {
        padding: 300px;
        background-color: beige;
        background-image: url(../images/seamain.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }

.words {
    color: rgb(0, 0, 0);
    font-size: 72px
}
#sea1 {
    width: 100%;
    height: auto;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

/* navigation format */
.nav {
    list-style-type: none;
    text-align: center;
    padding: 10px;    
    overflow: hidden;
}
.nav li {
    border-right: 2px solid;
    display: inline-block;
    font-size: 25px;
    padding: 40px;
}
.nav li:last-child {
    border-right: 0;
}

a {
    padding: 10px 40px;
    color: black;
    text-decoration: none;
}
a:hover {
    color: hotpink;
}
/* body format */
body {
    background-color: rgb(12, 10, 95);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;  
  padding: 5px;
  background-color: lightskyblue;
}
.one {
    line-height: 2;
}
.facts {
    line-height: 2;
}

/* picture format */
.one img {
    padding: 10px;
    width: 200px;
    float: left;
    clear: both;
}
.two img {
    padding: 10px;
    width: 200px;
    float: right;
    clear: both;
}

h3 {
    clear: both;
}

/* form box */
div.form {
    width: auto;
    outline: solid;
    padding: 10px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: lightcyan;
}
#message {
    height: 100px;
}

input[type=submit] {
    background-color: turquoise;
    margin: 10px;
    cursor: pointer;
}
input[type=radio] {
    margin: 5px;
    cursor: pointer;
}

/* facts format */
.facts {
    list-style-type: circle;
}

/* footer */
footer {
    text-align: right;
    padding-top: 25px;
    padding-bottom: 25px;
}
