/* header format */
header {
        background-color: beige;
        background-image: url(../images/seamain.jpg);
        }

header h1 {
    text-align: center;
    margin: 50px;;
}

#sea1 {
    width: 100%;
    height: auto;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

/* navigation format */
.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;    
}
.nav li {
    display: inline-block;
}

/* body format */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}

/* picture format */
.one img{
    width: 200px;
    float: left;
    clear: both;
}

/* form box */
.form {
    outline: solid;
    ;
}