/* header format */
header {
        padding: 60px;
        background-color: beige;
        background-image: url(../images/seamain.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        }

header h1 {
    text-align: center;
    margin: 50px;;
}

#sea1 {
    width: 100%;
    height: auto;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}

/* navigation format */
.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;    
    overflow: hidden;
}
.nav li {
    display: inline-block;
}

a {
    display: block;
    padding: 10px 40px;
    color: black;
    text-decoration: none;
}
/* body format */
body {
    padding: 100px;
    margin: 100px;
    background-color: lightskyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}

/* picture format */
.one img {
    width: 200px;
    float: left;
    clear: both;
}
.two img {
    width: 200px;
    float: right;
    clear: both;
}

/* form box */
div.form {
    width: 100%;
    outline: solid;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: lightcyan;
}
#message {
    height: 100px;
}
input[type=submit] {
    color: purple;
    margin: 5px;
    cursor: pointer;
}


input[type=radio] {
    margin: 5px;
    cursor: pointer;
}

/* facts format */
.facts {
    list-style-type: circle;
}

/* footer */
footer {
    text-align: right;
    padding-top: 25px;
}
