/* Css Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styling of website starts here with the body */

/* All header styling from h1 to h5 here */
body h1 {
    font-size: xx-large;
    font-weight: bolder;
}

body h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: x-large;
    font-weight: bold;
}

body h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: larger;
    font-weight: 900;
}

body h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: large;
    font-weight: 800;
}

body h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: medium;
    font-weight: 700;
}

/* I made the screen size 1180 because I didn't want the paragraphs going right to the edge, I put 10 px padding on either side to make it 1200 px */
.wrapper {
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Navigation bar setup */

.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #222;
    color: #c78c06;
}

.search {
    height: 35px;
    width: auto;
 }

ul li:nth-child(1) {
    background-color: #c78c06;
    color: #222;
}

.nav li {
    padding: 15px;
}

.logo {
    display: block;
}

.open {
    background-color: #c78c06;
    
}
/* Welcome section styling */

.welcome {
    background-image: url(../images/main-banner.jpg);
    padding: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c78c06;
    align-items: center;
    color: white; 
}

.welcome h1 {
    padding: 20px;
    font-size: 5rem;
    color: white;
    background: rgba(0,0,0,0.5);
}

/* About us styling */

.about {
    background-color: #ffe6ac;
}

.about h2 {
    font-size: 3rem;
}
.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

/* Services Styling */

.main-services h2 {
    font-size: 3rem;
}

.transform {
    background-color: #ffe6ac;
}
.transform img {
    width: 100%;
}

.marketing {
    background-color: #ffe6ac;
}
.marketing img {
    width: 100%;
}

.video {
    background-color: #ffe6ac;
}
.video img {
    width: 100%;
}

.web {
    background-color: #ffe6ac;
}
.web img {
    width: 100%;
}

.print {
    background-color: #ffe6ac;
}
.print img {
    width: 100%;
}

/* Team Styling */

.team img {
    width: 100%;
}

.john1 {
    background-color: #ffe6ac;
    padding-bottom: 15px;
  }

.bob1 {
    background-color: #ffe6ac;
    padding-bottom: 15px;
}

/* Form Styling */

.form {
    width: auto;
    padding: 10px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 3px;
}


#message {
    height: 100px;
}

/* Map Styling */

.map iframe {
    width: 100vw;
    height: 100vh;
}

/* Footer Styling */

footer {
    display: flex;
    align-items: center;
    line-height: 30px;
    padding-left: 30px;
    background-color: #222;
    height: 75px;
    color: #c78c06;
}
    
/* Buttons Configurations */
/* bb = all big black buttons, bb2 = all grid black buttons, mb = main button, mb2 = main button 2 fb = form button, fb2 = form button 2  */

.bb {
    background-color: #222;
    color: white;
    border: #222;
    min-width: 100px;
    min-height: 50px;
}

.bb2 {
    background-color: #222;
    color: white;
    border: #222;
    min-width: 100px;
    min-height: 30px;
}

.mb {
    background-color: #c78c06;
    border: #c78c06;
    min-width: 100px;
    min-height: 50px;
}

.mb2 {
    background-color: #c78c06;
    border: #c78c06;
}

.fb {
    background-color: #222;
    border: #222;
    color: #c78c06;
    min-height: 25px;
    margin-top: 15px;
}

.fb2 {
    background-color: #222;
    border: #222;
    color: #c78c06;
}

/* Welcome Desktop styling */

.welcome2 {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c78c06;
    align-items: center;
    color: white; 
}
/* About Us Styling */

.about2 img 
/* Services Grid*/

.services {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "dt dt dt ma ma ma"
    "dt dt dt ma ma ma"
    "dt dt dt ma ma ma"
    "vp vp wd wd pr pr"
    "vp vp wd wd pr pr"
    "vp vp wd wd pr pr"
}

.dt {
    background-color: #ffe6ac;
    grid-area: dt;
}

.ma {
    background-color: #ffe6ac;
    grid-area: ma;
}

.vp {
    background-color: #ffe6ac;
    grid-area: vp;
}

.wd {
    background-color: #ffe6ac;
    grid-area: wd;
}

.pr {
    background-color: #ffe6ac;
    grid-area: pr;
}

.team2 {
    background-color: #ffe6ac;
}

/* Vision Statement */

.vision {
    background-image: url(../images/vision.jpg);
    padding: 100px;
    color: white;
}

#button {
    background-color: #222;
    color: white;
}

/* Team Grid */

.team2 {
    display: grid;
    grid-template-columns: repeat(4) 1fr;
    grid-template-areas:
    "image image john john"
    "image image john john"
    "bob bob image2 image2"
    "bob bob image2 image2"
    
}

.image {
    grid-area: image;
}

.john {
    max-inline-size: 100%;
    grid-area: john;
}

.image2 {
    grid-area: image2;
}

.bob {
    max-inline-size: 100%;
    grid-area: bob;
}

.wrapper4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Contact us float */

.float {
    display: flex;
    justify-content: space-between;
}

.location2 iframe {
    height: 85%;
}

/* Hours Table Configurations */

caption {
    text-align: left;
    margin-bottom: 8px;
    margin-top: 8px;
}
table {
    display: table;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

th {
    background-color: #ffe6ac;
}

@media screen and (min-width: 760px) {
    body {
        
    }
}